{% extends 'base.html.twig' %}

{% block title %}TesteNd{% endblock %}

{% block body %}



   
<div class="row">

    <img  src="{{asset('images/produits/')}}{{product.filename}}" class="m-3"  >
   
<div class="container"> 
  
        <div class="card">
                                
                                    
            {{ product.content|raw }}

            
                                
                <button class="btn btn-success" id="checkout-button">acheter</button>  
                  <a href="{{path('cart_add',{'id': product.id})}}" class="btn btn-warning">ajouter au panier</a>         
                              
        </div>
        
        </div>
 </div>

 
    {% block javascripts %}

   
    
    {% endblock %}

{% endblock %}