{% extends 'base.html.twig' %}

{% block title %}TesteNd{% endblock %}

{% block body %}



   
<div class="row">

    <img  src="{{asset('images/produits/')}}{{product.filename}}" class="m-3"  >
   
<div class="container"> 
  
        <div class="card">
                                
                                    
            {{ product.content|raw }}
                                    
                                
                                    
        </div>
        </div>
 </div>
{% endblock %}