{% extends 'base.html.twig' %}

{% block title %}TesteNd{% endblock %}

{% block body %}


<div class="row ">

{% for product in products %}
    {% if product.category == 'the' %}
       
                    <div class="card m-5 " style="width: 22rem;box-shadow: 8px 8px 12px #aaa;">
                        {% if product.filename %}
                       <img  src="{{ vich_uploader_asset(product,'imageFile') | imagine_filter('thumb') }}" style="width:auto; height:350px;">
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title" style="text-align:center;">{{ product.title }}</h3>
                            <p class="card-text "style="text-align: center;"></p>
                            <p class="card-text "style="text-align: center;"><strong>Prix:</strong> {{ product.price }}€</p>
                            <div class="text-center">
                            <a  href="{{path ( '_showcata' ,{'id': product.id} ) }}" class="btn btn-primary " >voir plus</a>
                            </div>
                        </div>
                    </div>
    {% endif %}               
{% endfor %}
</div>
{% endblock %}